.popup__input-error {
  margin: 0;
  display: none;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-top: 5px;
  color: #ff0000;
  max-width: 358px;
  max-height: 0px;
}
