.profile-info__hobby {
  width: 336px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  color: #ffffff;

  margin-top: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .profile-info__hobby {
    width: 282px;

    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
