.profile__add-button {
  margin-left: 244px;
  background-image: url(../../../images/plus.svg);
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: center;
  background-color: black;
  cursor: pointer;
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.profile__add-button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 1023px) {
  .profile__add-button {
    margin-left: 132px;
  }
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    margin: 0;
    background-size: 16px 16px;
    width: 282px;

    margin-top: 36px;
  }
}
